ul {
  padding: 8px;
}

.active{
  background-color: blue;
}

.active:hover{
  background-color: darkblue;
}

li:hover{
  background-color: darkred;
}

ul > li {
  display:inline-block;
  font-size: 24px;
  border-style: double;
  border-color: white;
  background-color: red;
}


a {
  text-decoration: none;
  padding: 4px;
  color: white;
}

body {
    background-color:rgba(163, 162, 173, 0.541);
}